body {
    font-family: 'Roboto', Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 30px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 0px;
    padding: 7px 30px;
    border-radius: 8px;
    width: 120px;
    font-size: 16px;
    font-weight: 800px;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin: 50px;
}

h3 {
    margin: 3px 0px;
}

p, ul, .sign-up {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
}

img {
    border-radius: 7px;
}

header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: baseline;
    padding: 15px 150px;
}

.footer {
    display: flex;
    background-color: #1f2937;
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 30px;
}

.header-ext {
    background-color: #1f2937;
    padding: 85px 150px 100px;
    display: flex;
    flex: 1;
    gap: 50px;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.container {
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0px 300px 100px;
    gap: 50px;
}

.icon {
    width: 150px;
}

.contain-call {
    background-color: #3882f6;
    display: flex;
    flex: 1;
    color: #f9faf8;
    margin: 100px 180px;
    min-height: 100px;
    border-radius: 7px;
    padding: 20px 120px;
    justify-content: space-between;
    align-items: center;
}

.contain-quote {
    display: flex;
    background-color: #e5e7eb;
    padding: 100px 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thor {
    align-self: flex-end;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.button2 {
    border-radius: 8px;
    border: 2px solid #f9faf8;
}