body {
    font-family: 'Roboto', Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 30px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 0;
    padding: 10px 20px;
    border-radius: 8px;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

p, ul {
    color: #e5e7eb;
    font-size: 18px;
}

header, .footer {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding: 25px 100px;
}

.footer {
    color: #e5e7eb;
    justify-content: center;
    font-size: 12px;
}

.header-ext {
    background-color: #1f2937;
    padding: 0px 100px;
    display: flex;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.container {
    display: flex;
    flex: 1;
}

.contain-call {
    background-color: #3882f6;
    display: flex;
    color: #f9faf8;
}

.contain-quote {
    display: flex;
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}